.item{
    display: grid;
    grid-template-areas: 
    'photo name follow'
    'photo city follow'
    'photo status follow';
    grid-template-columns: 1fr 6fr 1fr;
    margin-bottom: 15px; 
    background-color: white;
    border-radius: 5px;
    margin-left: 15px;
}

.name{
    grid-area: name;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(42,88,133);
}

.city{
    grid-area: city;
    color: gray;
    padding: 10px;
}
.status{
    grid-area: status;
    padding: 10px;
}

.follow{
    grid-area: follow; 
    padding: 10px;
}

.follow button{
    margin-top: 35px;
    background-color:rgb(81,129,184);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
}

.photo{
    grid-area: photo;
}

.photo img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-left: 15px;
    margin-top: 20px;
}
