.navbar{
    grid-area: navbar;
    background-color: red;
}
  
.navbar ul{
    list-style-type: none;
}

.item a{
    width: 100%;
    color: white;
    text-decoration: none;
}

.item a.active{
    color: gold;
}