.item{
    color: black;
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
}

.message{
    padding: 10px;
}

.item img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-left: 15px;
    margin-top: 10px;
}

.likes{
    position: relative;
    left: 25px;
}