.app_wrapper{
  display: grid;
  width: 1060px;
  margin: 0 auto;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 15px;
}

.app_wrapper_content{
  background-color: rgb(237,238,240);
  margin-top: 25px;
}



