.wrapper{
    background-color: white;
    border-radius: 5px;
}

.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr; 
}

.enterMessage{
    /* margin-left: 15px; */
    padding: 15px;
}
